.Jumbotron {
    text-align: center;
}

.Jumbo {
    background-image: url('/src/images/coffee1.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;

}